---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import { format, compareAsc } from "date-fns";

import Default from "../../layouts/Default.astro";

const title = "記事一覧";
const posts: CollectionEntry<"posts">[] = await getCollection("posts");
---

<Default title={title} head="Peacock's Blog">
  <h1 class="text-4xl font-bold pb-10">{title}</h1>
  <div>
    {
      posts
        .sort((a, b) => compareAsc(a.data.pubDate, b.data.pubDate))
        .map((p) => (
          <p>
            <span class="font-mono">
              {format(p.data.pubDate, "yyyy-MM-dd")}
            </span>
            :
            <a href=`posts/${p.id}`>
              {p.data.emoji} {p.data.title}
            </a>
          </p>
        ))
    }
  </div>
</Default>
