---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";

const title = "記事一覧";
const posts = await getCollection("posts");
---

<Base title={title} head="Peacock's Blog">
  <h1 class="text-4xl font-bold pb-10">{title}</h1>
  <div>
    {
      posts.map((p) => (
        <p>
          <span class="font-mono">{p.data.pubDate}</span>:
          <a href={`/posts/${p.slug}`}>
            {p.data.emoji} {p.data.title}
          </a>
        </p>
      ))
    }
  </div>
</Base>
