---
import Header from "../components/Header.astro";
import { SiteName } from "../constants";
import Footer from "../components/Footer.astro";

const { title, head, lang } = Astro.props;
---

<html lang={lang || "ja"}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image" href="/favicon.jpg" />
    <script
      is:inline
      async
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-258HNLC5SL"></script>
    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-258HNLC5SL");
    </script>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={Astro.props.description || ""} />
    <meta property="og:url" content=`${Astro.site}${Astro.props.slug || ""}` />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={Astro.props.description || ""} />
    <meta property="og:image" content="" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={Astro.site} />
    <meta
      property="twitter:url"
      content=`${Astro.site}${Astro.props.slug || ""}`
    />
    <meta property="twitter:title" content={title} />
    <meta
      property="twitter:description"
      content={Astro.props.description || ""}
    />
    <meta property="twitter:image" content={Astro.props.ogImage || ""} />
    <title>{title} - {SiteName}</title>
  </head>
  <body>
    <main class="max-w-8xl px-10 text-gray-950 bg-gray-50">
      <Header name={head || SiteName} />
      <div class="mt-5 mb-10">
        <slot />
      </div>
      <Footer />
    </main>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "IBM Plex Sans JP", sans-serif;
  }
  a {
    color: #44e;
    text-decoration-line: underline;
  }
  @media print {
    :root {
      background-color: white;
    }
    div.header,
    div.footer {
      display: none;
    }
  }
</style>
