---
import Base from "./Base.astro";
import Header from "../components/Header.astro";

import { SiteName } from "../constants";
import Footer from "../components/Footer.astro";
---

<Base
  slug={Astro.props.slug}
  title={Astro.props.title}
  lang={Astro.props.lang}
  description={Astro.props.description}
  ogImage={Astro.props.ogImage}
>
  <div px-10 text-gray-950>
    <Header name={Astro.props.head || SiteName} />
    <div class="mt-5 mb-10">
      <slot />
    </div>
    <Footer />
  </div>
</Base>
